<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSMSDataServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <CSMSDataServices.Properties.Settings>
      <setting name="CSMSDataServices_com_56dxw_jiekou_WebServiceInterface" serializeAs="String">
        <value>http://jiekou.56dxw.com/WebServiceInterface.asmx</value>
      </setting>
    </CSMSDataServices.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceInterfaceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://jiekou.56dxw.com/WebServiceInterface.asmx"
          binding="basicHttpBinding" bindingConfiguration="WebServiceInterfaceSoap"
          contract="SMSAPI.WebServiceInterfaceSoap" name="WebServiceInterfaceSoap" />
    </client>
  </system.serviceModel>
</configuration>
