<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceInterfaceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://jiekou.56dxw.com/WebServiceInterface.asmx"
          binding="basicHttpBinding" bindingConfiguration="WebServiceInterfaceSoap"
          contract="SMSAPI.WebServiceInterfaceSoap" name="WebServiceInterfaceSoap" />
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
